<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<nav class="container">
    <div class="row">
<div class="col-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><svg viewBox="0 0 100 80" width="70" height="70">
    <rect width="100" height="20"></rect>
    <rect y="30" width="100" height="20"></rect>
    <rect y="60" width="100" height="20"></rect>
</svg></div>
        <div class="col-7"><img src="images/logo.png" width="200px" height="200px"></div>
    </div>
</nav>
<div class="offcanvas offcanvas-top" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
</div>
    <div  th:each="hrayfi:${hrayfisJsp.content}">
        <div class="card">
            <div class="card-body">
        <div th:text="${hrayfi.nameHrayfi}"></div>
        <div th:text="${hrayfi.profession}"></div>
        <div th:text="${hrayfi.adresse}"></div>
        <div th:text="${hrayfi.telephone} "></div>
        <img th:src="${hrayfi.sphoto}">
            </div>
        </div>
    </div>
</body>
</html>